*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	background : #010101;
	color: #fff;
}

.btn{
	background: red;
	box-shadow: 0 0 1.5em 0.25em red;
	min-width: 99vw;
}

.container{
	padding: 10px 10px;
}